.App {
    text-align: center;
  }
  header h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  h5 {
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  label {
 
      font-family: "Times New Roman", Times, serif;
      font-weight: 300;
      font-size: 26px;
      line-height: 1.4em;
      color: #404040;
 
  }
  p{
    color: #404040;
  }
  #apiKey{
    color: #404040;
  }
  #secretKey{
    color: #404040;
  }
  .App-header {
    background-color: aliceblue;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #61dafb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #21a1f1;
  }
  